<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
    <header>
        <h2>
            <a href="/">
                My app
            </a>
        </h2>
        <nav>
            <a href="/login">log in</a>
        </nav>
    </header>
    <main>
        <h3>home page</h3>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam minima laborum, quisquam reiciendis ut
            provident repellat quaerat fuga harum repudiandae molestias, omnis officiis eos ex explicabo facere quas
            velit? Voluptatem.
        </p>
    </main>

    <footer>
        <small>&copy; app</small>
    </footer>

</body>

</html>